.click-button{
	background-color: black;
	color: white;
	border: 0;
	height: 85px;
	width: 180px;
	cursor: pointer;
	font-size: x-large;
	font-weight: bold;
	border-radius: 5px;
}
.click-button-div{
	display: flex;
	justify-content: center;
	align-items: center;
	margin-top: 8%;
}